In [ ]:
import sys
reload(sys)
sys.setdefaultencoding("utf-8")

In [42]:
import pandas as pd
import numpy as np
from time import sleep
import re

import warnings
warnings.filterwarnings("ignore")
import selenium
from selenium import webdriver

driver_path = "C:\Program Files (x86)\chromedriver.exe"
driver = webdriver.Chrome(driver_path)

driver.get("https://www.hepsiemlak.com/istanbul-kiralik-sahibinden?page=33")

#pages_list = []

In [43]:

def scrapPage(link,page_list):
    
    temp_driver= webdriver.Chrome(driver_path)
    temp_driver.get(link)

    loc1_elem = temp_driver.find_element("xpath","//*[@id='__layout']/div/div[2]/section[3]/div/div[1]/div[1]/section[1]/div[3]/ul/li[2]")
    loc2_elem = temp_driver.find_element("xpath","//*[@id='__layout']/div/div[2]/section[3]/div/div[1]/div[1]/section[1]/div[3]/ul/li[3]")
    price_elem = temp_driver.find_element("xpath","//*[@id='__layout']/div/div[2]/section[3]/div/div[1]/div[1]/section[1]/div[1]/div[3]/p")

    details_elem =  temp_driver.find_element("xpath","//*[@id='__layout']/div/div[2]/section[3]/div/div[1]/div[1]/section[1]/div[4]")
    details = pd.DataFrame(re.split(r'\n(?!/)',details_elem.text))

    column_names = details.iloc[7:-1:2]
    column_names.loc[0] = "location1"
    column_names.loc[1] = "location2"
    column_names.loc[100] = "price"
    column_names = column_names.sort_index().reset_index(drop=True)

    values = details.iloc[8:-1:2]
    values.loc[0] = loc1_elem.text
    values.loc[1] = loc2_elem.text
    values.loc[100] = price_elem.text
    print(price_elem.text)
    values = values.sort_index().reset_index(drop=True)

    table = pd.concat([column_names,values],axis=1)
    table.columns = ["columns","values"]
    table = table.set_index("columns").T.style.hide()
    
    temp_driver.close()
    page_list.append(table)
    
    return table

In [44]:
page_iter = 18
for i in range(page_iter):
    page_list = []
    items = driver.find_elements_by_class_name("card-link")
    print(len(items))
    for p in items:
        current_link = p.get_attribute("href")
        print(i)
        print(scrapPage(current_link,page_list)) 
    total = page_list[0].data
    for i in range(1,len(tables_list)):
        total = pd.concat([total,tables_list[i].data],axis=0)
    pages_list.append(total)
    driver.find_element("xpath","//*[@id='listPage']/div[2]/div/div/main/div[2]/div/section/div/a[2]").click()
    sleep(1)

24
0
95.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0348625D0>
0
67.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034C1D290>
0
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033E20D50>
0
16.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C3E590>
0
35.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C2B890>
0
17.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C2AB50>
0
17.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BB0F50>
0
9.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033E73590>
0
29.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF9FD0>
0
15.500 TL
<pandas.io.formats.style.Styler object at 0x000001E033DBD210>
0
33.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034676750>
0
17.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033E22F90>
0
35.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BBFB10>
0
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BEB690>
0
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C298D0>
0
18.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C2E950>
0
70.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C29E50>
0
16.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C2B510>
0
10.500 TL
<pandas.io.formats.style.Styler object at 0x000001E0348A48D0>
0
17.500 TL
<pandas.io.formats.style.Styler object at 0x000001E033EEE290>
0
22.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C1D910>
0
17.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034BBD190>
0
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF2390>
0
18.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B5ABD0>
24
1
22.999 TL
<pandas.io.formats.style.Styler object at 0x000001E0348B34D0>
1
10.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034664B50>
1
25.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349D7CD0>
1
13.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034BBC250>
1
14.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BB0210>
1
18.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C1C510>
1
36.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B0F950>
1
16.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349D5550>
1
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B0CAD0>
1
16.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B5BAD0>
1
13.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034C29710>
1
14.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BBED10>
1
16.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF34D0>
1
7.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034BE0B90>
1
18.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034856450>
1
14.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C27CD0>
1
8.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BEB010>
1
12.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034C0AA10>
1
14.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BFA8D0>
1
22.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BE2110>
1
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03164D390>
1
16.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349DD190>
1
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034985850>
1
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B25350>
24
2
15.900 TL
<pandas.io.formats.style.Styler object at 0x000001E0349DC2D0>
2
27.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0347D9F50>
2
10.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BEB550>
2
17.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034C2C350>
2
18.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C2DE10>
2
45.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF2310>
2
23.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0348564D0>
2
25.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B1F410>
2
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BE1990>
2
17.750 TL
<pandas.io.formats.style.Styler object at 0x000001E0348D3E50>
2
14.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF1550>
2
17.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C1EC50>
2
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C2D290>
2
45.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349ECE10>
2
33.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BBECD0>
2
60.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BBF310>
2
26.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C2F4D0>
2
21.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034B10C10>
2
30.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BE3050>
2
22.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034C25650>
2
3.100.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034664D50>
2
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349BBA50>
2
30.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034662E50>
2
22.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03474BDD0>
24
3
115.000 TL
<pandas.io.formats.style.Styler object at 0x000001E031F02D50>
3
25.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349B5890>
3
18.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034C26D90>
3
23.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034BB3610>
3
35.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C27750>
3
40.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C3C290>
3
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B12A50>
3
30.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034A410D0>
3
10.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033E57950>
3
22.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034799790>
3
28.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034A3AC50>
3
9.500 TL
<pandas.io.formats.style.Styler object at 0x000001E0349DE1D0>
3
50.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C3E9D0>
3
22.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033ECAE90>
3
19.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03494D710>
3
17.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BB2A50>
3
1.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B99310>
3
7.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034C27350>
3
18.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034A41010>
3
4.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C1D5D0>
3
12.750 TL
<pandas.io.formats.style.Styler object at 0x000001E03497E7D0>
3
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BEB9D0>
3
150.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033E236D0>
3
33.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349EE110>
24
4
50.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033E2B950>
4
22.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0348A0AD0>
4
14.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034C1D490>
4
9.900 TL
<pandas.io.formats.style.Styler object at 0x000001E034BE0F10>
4
85.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B0F750>
4
30.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF8150>
4
21.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034BBEA90>
4
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0348BE810>
4
18.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03498D390>
4
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034798D90>
4
30.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349B56D0>
4
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BE2790>
4
28.500 TL
<pandas.io.formats.style.Styler object at 0x000001E0348A4350>
4
14.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034985650>
4
11.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033EE1190>
4

9.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B116D0>
4
16.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034689F90>
4
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C1D5D0>
4
17.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF92D0>
4
18.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B993D0>
4
14.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C09750>
4
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B1EA50>
4
24.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033ECF250>
4
19.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BB2A50>
24
5
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034707C90>
5
24.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B12410>
5
19.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C1D8D0>
5
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B98F90>
5
29.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C3D550>
5
10.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B26210>
5
14.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF94D0>
5
1.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0347F0610>
5
19.500 TL
<pandas.io.formats.style.Styler object at 0x000001E0348B3B10>
5
17.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034987590>
5
14.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B98050>
5
7.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034B5B6D0>
5
9.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034BB0150>
5
22.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B1CDD0>
5
11.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033DD0710>
5
10.500 TL
<pandas.io.formats.style.Styler object at 0x000001E03497F590>
5
1.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034A39390>
5
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0346DEC90>
5
7.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0348D2110>
5
13.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF8410>
5
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03479BF90>
5
18.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033E41750>
5
100.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BB1E10>
5
19.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF88D0>
24
6
18.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033E41BD0>
6
100.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034852610>
6
19.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BEAFD0>
6
5.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B1F610>
6
16.500 TL
<pandas.io.formats.style.Styler object at 0x000001E0345BF010>
6
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B9BF90>
6
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C2F890>
6
25.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349B4610>
6
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BE16D0>
6
120.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C0B410>
6
15.500 TL
<pandas.io.formats.style.Styler object at 0x000001E0349D76D0>
6
18.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03479A510>
6
30.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034704390>
6
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C28390>
6
35.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0348A1D50>
6
39.500 TL
<pandas.io.formats.style.Styler object at 0x000001E0349BBA10>
6
1.949.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034A3A450>
6
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B1C150>
6
5.750 TL
<pandas.io.formats.style.Styler object at 0x000001E034BB1350>
6
28.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C2CA90>
6
25.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034A003D0>
6
35.000 TL
<pandas.io.formats.style.Styler object at 0x000001E030743250>
6
25.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034677D90>
6
16.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034B0FF50>
24
7
22.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B0FA50>
7
16.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B5B350>
7
30.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C09E10>
7
13.750 TL
<pandas.io.formats.style.Styler object at 0x000001E034A0EA10>
7
13.750 TL
<pandas.io.formats.style.Styler object at 0x000001E034C08510>
7
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C3F110>
7
10.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C3C490>
7
46.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034A413D0>
7
17.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C3C710>
7
18.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034786BD0>
7
22.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349DFD90>
7
11.500 TL
<pandas.io.formats.style.Styler object at 0x000001E03492AD10>
7
22.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034926890>
7
25.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034852610>
7
65.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349D4710>
7
27.500 TL
<pandas.io.formats.style.Styler object at 0x000001E033EC8C10>
7
38.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF23D0>
7
27.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF36D0>
7
3.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BFBDD0>
7
21.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B9B310>
7
27.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03468BFD0>
7
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034662D10>
7
16.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034925B90>
7
25.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B24750>
24
8
24.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B5ABD0>
8
71.500 TL
<pandas.io.formats.style.Styler object at 0x000001E0347879D0>
8
40.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034851290>
8
11.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033EAB9D0>
8
18.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034862D10>
8
6.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034AFDD10>
8
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034A03350>
8
9.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034A3B650>
8
13.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03492BFD0>
8
15.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034B0AD10>
8
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033DBC250>
8
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF3BD0>
8
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C2FED0>
8
14.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033EC8C10>
8
23.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034922C10>
8
30.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF3310>
8
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0346A8D50>
8
25.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349BBB10>
8
13.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034AFF8D0>
8
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C3D090>
8
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C3DBD0>
8
14.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B1C190>
8
13.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B0DBD0>
8
18.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349ED610>
24
9
28.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03469F710>
9
16.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034A39390>
9
13.500 TL
<pandas.io.formats.style.Styler object at 0x000001E033EEDD50>
9
17.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034924FD0>
9
26.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C3DA50>
9
19.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF24D0>
9

32.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C2A350>
9
8.250 TL
<pandas.io.formats.style.Styler object at 0x000001E03473D850>
9
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C2E090>
9
25.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0348A0810>
9
16.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034A021D0>
9
21.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B12250>
9
15.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034C2B410>
9
14.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF9F90>
9
10.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034667950>
9
16.750 TL
<pandas.io.formats.style.Styler object at 0x000001E034B10D10>
9
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03492B710>
9
11.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BEB410>
9
10.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034C298D0>
9
16.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034B9B550>
9
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03490F290>
9
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C1F910>
9
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03497ECD0>
9
8.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03469D790>
24
10
7.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B1D750>
10
24.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C3FC90>
10
10.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BE25D0>
10
17.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034BBEF10>
10
25.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B21ED0>
10
13.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034B20490>
10
10.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349ED450>
10
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033E1AE10>
10
16.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C27110>
10
25.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B0F490>
10
8.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C1D490>
10
23.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03492B190>
10
22.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B22990>
10
18.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF2410>
10
21.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03492A510>
10
22.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034A0D990>
10
14.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034AFFD10>
10
10.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349BAB50>
10
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B0EA50>
10
14.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0347E59D0>
10
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034856450>
10
13.750 TL
<pandas.io.formats.style.Styler object at 0x000001E0349DF8D0>
10
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03473EC90>
10
22.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0343FD2D0>
24
11
22.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C3F010>
11
30.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C3D5D0>
11
25.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B78910>
11
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B22990>
11
36.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349F0E90>
11
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B20050>
11
36.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C1E950>
11
30.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034A39CD0>
11
11.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03498D3D0>
11
23.500 TL
<pandas.io.formats.style.Styler object at 0x000001E0349F1890>
11
38.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033E01D10>
11
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B23810>
11
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B78C10>
11
7.500 TL
<pandas.io.formats.style.Styler object at 0x000001E0348515D0>
11
22.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B49A50>
11
25.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BB1A10>
11
10.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034A40810>
11
5.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B21F50>
11
5.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF37D0>
11
12.500 TL
<pandas.io.formats.style.Styler object at 0x000001E033ECAE90>
11
13.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C25050>
11
29.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034987710>
11
21.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03490F290>
11
18.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0345BF890>
24
12
22.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03498F2D0>
12
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B273D0>
12
6.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034664B50>
12
21.500 TL
<pandas.io.formats.style.Styler object at 0x000001E03497D510>
12
22.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BFA090>
12
12.500 TL
<pandas.io.formats.style.Styler object at 0x000001E0347F1C50>
12
12.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034B0D150>
12
17.500 TL
<pandas.io.formats.style.Styler object at 0x000001E0349BAD90>
12
26.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034662E50>
12
7.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034B7A3D0>
12
10.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034985810>
12
13.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B64490>
12
48.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BB1010>
12
34.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033D53750>
12
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B5BAD0>
12
17.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C26610>
12
23.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B25B10>
12
28.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C28E90>
12
14.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034A0F310>
12
13.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034A0FBD0>
12
23.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF2490>
12
35.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BE1590>
12
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349B52D0>
12
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C0B090>
24
13
17.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0348BC950>
13
6.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034920690>
13
8.750 TL
<pandas.io.formats.style.Styler object at 0x000001E034674350>
13
25.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C0A450>
13
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B11F90>
13
6.100 TL
<pandas.io.formats.style.Styler object at 0x000001E034C3C4D0>
13
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C3C050>
13
4.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0346788D0>
13
1.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034BB0210>
13
16.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034A0EE90>
13
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B13F50>
13
27.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034C29690>
13
27.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03474FB90>
13
30.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C26150>
13
17.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03492B190>
13
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03468AA90>
13
23.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034927050>
13
9.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034927210>
13
125.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349F21D0>
13
25.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034B24ED0>
13

27.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B1EA50>
13
13.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BB1150>
13
27.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034B64A10>
13
55.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B0BD50>
24
14
55.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034862B90>
14
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033E1A590>
14
23.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034B25810>
14
27.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C27410>
14
38.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349F2C50>
14
16.500 TL
<pandas.io.formats.style.Styler object at 0x000001E0349F18D0>
14
30.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C2CB10>
14
8.700 TL
<pandas.io.formats.style.Styler object at 0x000001E033E8D0D0>
14
90.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034AFDF90>
14
6.500 TL
<pandas.io.formats.style.Styler object at 0x000001E0348A2050>
14
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B221D0>
14
25.500 TL
<pandas.io.formats.style.Styler object at 0x000001E033E06590>
14
14.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C0B810>
14
25.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034857F50>
14
23.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034707810>
14
15.500 TL
<pandas.io.formats.style.Styler object at 0x000001E0348D03D0>
14
5.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349F1990>
14
23.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C25C90>
14
90.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034924FD0>
14
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349EDC50>
14
28.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C25210>
14
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C2CCD0>
14
25.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0346770D0>
14
50.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034A0F790>
24
15
14.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0348A3090>
15
26.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03498E090>
15
30.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C3D410>
15
35.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C3E850>
15
10.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0343FD990>
15
25.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C264D0>
15
22.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BFB610>
15
39.500 TL
<pandas.io.formats.style.Styler object at 0x000001E033EE1E50>
15
26.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034B11ED0>
15
22.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034C2B0D0>
15
33.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B7A0D0>
15
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033D53750>
15
21.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BEB2D0>
15
32.500 TL
<pandas.io.formats.style.Styler object at 0x000001E0346A8BD0>
15
25.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033E238D0>
15
40.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B25B10>
15
33.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B0D3D0>
15
24.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034C0BD90>
15
23.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C08990>
15
24.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B7AA50>
15
16.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03469D090>
15
67.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034A01C90>
15
23.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03497C5D0>
15
18.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF0490>
24
16
30.250 TL
<pandas.io.formats.style.Styler object at 0x000001E034AFD390>
16
2.500 TL
<pandas.io.formats.style.Styler object at 0x000001E03473EC90>
16
14.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034A0EF10>
16
45.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B23E10>
16
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B20C90>
16
24.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349DD410>
16
35.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF9610>
16
22.300 TL
<pandas.io.formats.style.Styler object at 0x000001E034856250>
16
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BEB590>
16
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BEB750>
16
20.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0348A0A50>
16
29.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034987890>
16
30.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B21D10>
16
16.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033ECAA50>
16
26.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349BAE50>
16
28.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033E16B10>
16
39.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034987AD0>
16
24.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C3F590>
16
21.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349D6850>
16
13.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B7A590>
16
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BE0550>
16
21.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B0EA50>
16
90.000 TL
<pandas.io.formats.style.Styler object at 0x000001E03498E090>
16
18.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B221D0>
24
17
30.500 TL
<pandas.io.formats.style.Styler object at 0x000001E03498DC50>
17
12.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034927F10>
17
37.500 TL
<pandas.io.formats.style.Styler object at 0x000001E034B21110>
17
14.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034659B90>
17
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C0BD10>
17
26.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BFB250>
17
14.950 TL
<pandas.io.formats.style.Styler object at 0x000001E034C24350>
17
5.500 TL
<pandas.io.formats.style.Styler object at 0x000001E03490C090>
17
59.000 TL
<pandas.io.formats.style.Styler object at 0x000001E0349DD690>
17
3.250 TL
<pandas.io.formats.style.Styler object at 0x000001E034C25A50>
17
30.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C2A290>
17
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C1EE10>
17
30.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C1D5D0>
17
12.500 TL
<pandas.io.formats.style.Styler object at 0x000001E0349F2E10>
17
1.200 TL
<pandas.io.formats.style.Styler object at 0x000001E034C1F250>
17
25.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034924390>
17
24.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BB0A50>
17
10.400 TL
<pandas.io.formats.style.Styler object at 0x000001E034BE1D50>
17
19.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034C2BD90>
17
490.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034BF9AD0>
17
14.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034A0C310>
17
12.500 TL
<pandas.io.formats.style.Styler object at 0x000001E0348A0A50>
17
15.000 TL
<pandas.io.formats.style.Styler object at 0x000001E033E14C10>
17
13.000 TL
<pandas.io.formats.style.Styler object at 0x000001E034B0BBD0>

In [51]:
len(pages_list)
total=pages_list[0]

for i in range(1,len(page_list)):
    total = pd.concat([total,pages_list[i]],axis=0)

total

columns,location1,location2,Konut Tipi,Konut ekli,Oda + Salon Says,Brt / Net M2,Bulunduu Kat,Bina Ya,Isnma Tipi,Kat Says,...,Banyo Says,Kullanm Durumu,Aidat,Yakt Tipi,price,Yap Tipi,Yapnn Durumu,Cephe,Depozito,Site erisinde
values,Saryer,Tarabya,Daire,Daire,4 + 1,270 m2\n/ 240 m2,En st Kat,20 Yanda,Kombi,2 Katl,...,3,Bo,11.000 TL,Doalgaz,95.000 TL,NaN,NaN,NaN,NaN,NaN
values,Beikta,Vinezade,Daire,Daire,4 + 2,250 m2\n/ 200 m2,1. Kat,30 Yanda,Merkezi (Pay ler),5 Katl,...,2,Bo,5.000 TL,Doalgaz,67.500 TL,Betonarme,kinci El,Gney,202.500 TL,NaN
values,Bahelievler,Fevzi akmak,Daire,Daire,3 + 1,150 m2\n/ 130 m2,3. Kat,26 Yanda,Kombi,5 Katl,...,1,Bo,NaN,Doalgaz,17.000 TL,Betonarme,kinci El,NaN,NaN,NaN
values,Bykekmece,Kumburgaz,Daire,Daire,1 + 1,90 m2\n/ 80 m2,1. Kat,24 Yanda,Kombi,5 Katl,...,1,Bo,250 TL,Doalgaz,15.000 TL,Betonarme,kinci El,"Kuzey, Dou, Bat",30.000 TL,Baylav Sitesi
values,mraniye,Mehmet Akif,Daire,Daire,3 + 1,140 m2\n/ 125 m2,1. Kat,19 Yanda,Kombi,5 Katl,...,2,Mlk Sahibi,1.000 TL,Doalgaz,29.000 TL,Betonarme,kinci El,Gney,29.000 TL,Glas Konutlar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
values,Beyolu,ukur,Daire,Daire,1 + 1,35 m2\n/ 30 m2,1. Kat,30 Yanda,Soba,3 Katl,...,1,Bo,NaN,Elektrik,3.000 TL,Betonarme,kinci El,NaN,3.000 TL,NaN
values,Bakrky,Kartaltepe,Daire,Daire,3 + 1,120 m2\n/ 110 m2,2. Kat,35 Yanda,Kombi,4 Katl,...,1,Mlk Sahibi,NaN,Doalgaz,22.000 TL,Betonarme,kinci El,Gney,30.000 TL,NaN
values,Esenyurt,Ardl,Daire,Daire,3 + 1,145 m2\n/ 135 m2,Kot 2,6 Yanda,Kombi,6 Katl,...,2,NaN,NaN,Doalgaz,14.500 TL,NaN,NaN,NaN,NaN,NaN
values,Esenyurt,Pnar,Daire,Daire,1 + 1,65 m2\n/ 60 m2,19. Kat,5 Yanda,Merkezi,25 Katl,...,1,Bo,1.300 TL,Elektrik,9.900 TL,Betonarme,kinci El,Gney,30.000 TL,Ak Towers
values,Kadky,Suadiye,Daire,Dubleks,5 + 1,300 m2\n/ 245 m2,10. Kat,Sfr Bina,Yerden Istma,10 Katl,...,3,Bo,3.000 TL,Doalgaz,85.000 TL,Betonarme,Sfr,Gney,85.000 TL,NaN

In [52]:
total.to_csv("IstanbulKiralik.csv")

In [11]:
total.columns

Index(['location1', 'location2', 'Konut Tipi', 'Konut ekli',
       'Oda + Salon Says', 'Brt / Net M2', 'Bulunduu Kat', 'Bina Ya',
       'Isnma Tipi', 'Kat Says', 'Eya Durumu', 'Banyo Says',
       'Kullanm Durumu', 'Aidat', 'Yakt Tipi', 'price', 'Yap Tipi',
       'Yapnn Durumu', 'Cephe', 'Depozito', 'Site erisinde'],
      dtype='object', name='columns')

In [113]:
df = pd.read_csv("IstanbulKiralik.csv")
df.head()

,Unnamed: 0,location1,location2,Konut Tipi,Konut ekli,Oda + Salon Says,Brt / Net M2,Bulunduu Kat,Bina Ya,Isnma Tipi,...,Banyo Says,Kullanm Durumu,Aidat,Yakt Tipi,price,Yap Tipi,Yapnn Durumu,Cephe,Depozito,Site erisinde
0,values,Saryer,Tarabya,Daire,Daire,4 + 1,270 m2\n/ 240 m2,En st Kat,20 Yanda,Kombi,...,3,Bo,11.000 TL,Doalgaz,95.000 TL,NaN,NaN,NaN,NaN,NaN
1,values,Beikta,Vinezade,Daire,Daire,4 + 2,250 m2\n/ 200 m2,1. Kat,30 Yanda,Merkezi (Pay ler),...,2,Bo,5.000 TL,Doalgaz,67.500 TL,Betonarme,kinci El,Gney,202.500 TL,NaN
2,values,Bahelievler,Fevzi akmak,Daire,Daire,3 + 1,150 m2\n/ 130 m2,3. Kat,26 Yanda,Kombi,...,1,Bo,NaN,Doalgaz,17.000 TL,Betonarme,kinci El,NaN,NaN,NaN
3,values,Bykekmece,Kumburgaz,Daire,Daire,1 + 1,90 m2\n/ 80 m2,1. Kat,24 Yanda,Kombi,...,1,Bo,250 TL,Doalgaz,15.000 TL,Betonarme,kinci El,"Kuzey, Dou, Bat",30.000 TL,Baylav Sitesi
4,values,mraniye,Mehmet Akif,Daire,Daire,3 + 1,140 m2\n/ 125 m2,1. Kat,19 Yanda,Kombi,...,2,Mlk Sahibi,1.000 TL,Doalgaz,29.000 TL,Betonarme,kinci El,Gney,29.000 TL,Glas Konutlar

In [114]:
df = df.drop(["Unnamed: 0"],axis=1)

df.price = df.price.str.replace(" TL","")
df["Bina Ya"] = df["Bina Ya"].str.replace(" Yanda","").str.replace("Sfr Bina","0")
df["Brt"] = df["Brt / Net M2"].str.split("\n/",expand=True)[0]
df["Net"] = df["Brt / Net M2"].str.split("\n/",expand=True)[1]
df = df.drop(["Brt / Net M2"],axis=1)
df.Brt = df.Brt.str.replace(" m2","")
df.Net = df.Net.str.replace(" m2","")
df["Kat Says"] = df["Kat Says"].str.replace(" Katl","")
df.Aidat = df.Aidat.str.replace(" TL","")
df.Depozito = df.Depozito.str.replace(" TL","")

,location1,location2,Konut Tipi,Konut ekli,Oda + Salon Says,Brt / Net M2,Bulunduu Kat,Bina Ya,Isnma Tipi,Kat Says,...,Banyo Says,Kullanm Durumu,Aidat,Yakt Tipi,price,Yap Tipi,Yapnn Durumu,Cephe,Depozito,Site erisinde
0,Saryer,Tarabya,Daire,Daire,4 + 1,270 m2\n/ 240 m2,En st Kat,20 Yanda,Kombi,2 Katl,...,3,Bo,11.000 TL,Doalgaz,95.000,NaN,NaN,NaN,NaN,NaN
1,Beikta,Vinezade,Daire,Daire,4 + 2,250 m2\n/ 200 m2,1. Kat,30 Yanda,Merkezi (Pay ler),5 Katl,...,2,Bo,5.000 TL,Doalgaz,67.500,Betonarme,kinci El,Gney,202.500 TL,NaN
2,Bahelievler,Fevzi akmak,Daire,Daire,3 + 1,150 m2\n/ 130 m2,3. Kat,26 Yanda,Kombi,5 Katl,...,1,Bo,NaN,Doalgaz,17.000,Betonarme,kinci El,NaN,NaN,NaN
3,Bykekmece,Kumburgaz,Daire,Daire,1 + 1,90 m2\n/ 80 m2,1. Kat,24 Yanda,Kombi,5 Katl,...,1,Bo,250 TL,Doalgaz,15.000,Betonarme,kinci El,"Kuzey, Dou, Bat",30.000 TL,Baylav Sitesi
4,mraniye,Mehmet Akif,Daire,Daire,3 + 1,140 m2\n/ 125 m2,1. Kat,19 Yanda,Kombi,5 Katl,...,2,Mlk Sahibi,1.000 TL,Doalgaz,29.000,Betonarme,kinci El,Gney,29.000 TL,Glas Konutlar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,Beyolu,ukur,Daire,Daire,1 + 1,35 m2\n/ 30 m2,1. Kat,30 Yanda,Soba,3 Katl,...,1,Bo,NaN,Elektrik,3.000,Betonarme,kinci El,NaN,3.000 TL,NaN
2540,Bakrky,Kartaltepe,Daire,Daire,3 + 1,120 m2\n/ 110 m2,2. Kat,35 Yanda,Kombi,4 Katl,...,1,Mlk Sahibi,NaN,Doalgaz,22.000,Betonarme,kinci El,Gney,30.000 TL,NaN
2541,Esenyurt,Ardl,Daire,Daire,3 + 1,145 m2\n/ 135 m2,Kot 2,6 Yanda,Kombi,6 Katl,...,2,NaN,NaN,Doalgaz,14.500,NaN,NaN,NaN,NaN,NaN
2542,Esenyurt,Pnar,Daire,Daire,1 + 1,65 m2\n/ 60 m2,19. Kat,5 Yanda,Merkezi,25 Katl,...,1,Bo,1.300 TL,Elektrik,9.900,Betonarme,kinci El,Gney,30.000 TL,Ak Towers
2543,Kadky,Suadiye,Daire,Dubleks,5 + 1,300 m2\n/ 245 m2,10. Kat,Sfr Bina,Yerden Istma,10 Katl,...,3,Bo,3.000 TL,Doalgaz,85.000,Betonarme,Sfr,Gney,85.000 TL,NaN

In [135]:
df.to_csv("IstanbulKiralikpp.csv")

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("IstanbulKiralikpp.csv")
data.head()

,Unnamed: 0,location1,location2,Konut Tipi,Konut ekli,Oda + Salon Says,Bulunduu Kat,Bina Ya,Isnma Tipi,Kat Says,...,Aidat,Yakt Tipi,price,Yap Tipi,Yapnn Durumu,Cephe,Depozito,Site erisinde,Brt,Net
0,0,Saryer,Tarabya,Daire,Daire,4 + 1,En st Kat,20,Kombi,2,...,11.0,Doalgaz,95.000,NaN,NaN,NaN,NaN,NaN,270.0,240.0
1,1,Beikta,Vinezade,Daire,Daire,4 + 2,1. Kat,30,Merkezi (Pay ler),5,...,5.0,Doalgaz,67.500,Betonarme,kinci El,Gney,202.5,NaN,250.0,200.0
2,2,Bahelievler,Fevzi akmak,Daire,Daire,3 + 1,3. Kat,26,Kombi,5,...,NaN,Doalgaz,17.000,Betonarme,kinci El,NaN,NaN,NaN,150.0,130.0
3,3,Bykekmece,Kumburgaz,Daire,Daire,1 + 1,1. Kat,24,Kombi,5,...,250.0,Doalgaz,15.000,Betonarme,kinci El,"Kuzey, Dou, Bat",30.0,Baylav Sitesi,90.0,80.0
4,4,mraniye,Mehmet Akif,Daire,Daire,3 + 1,1. Kat,19,Kombi,5,...,1.0,Doalgaz,29.000,Betonarme,kinci El,Gney,29.0,Glas Konutlar,140.0,125.0

In [3]:
data.drop(data.columns[0], axis=1, inplace=True)
data.head()

,location1,location2,Konut Tipi,Konut ekli,Oda + Salon Says,Bulunduu Kat,Bina Ya,Isnma Tipi,Kat Says,Eya Durumu,...,Aidat,Yakt Tipi,price,Yap Tipi,Yapnn Durumu,Cephe,Depozito,Site erisinde,Brt,Net
0,Saryer,Tarabya,Daire,Daire,4 + 1,En st Kat,20,Kombi,2,Eyal Deil,...,11.0,Doalgaz,95.000,NaN,NaN,NaN,NaN,NaN,270.0,240.0
1,Beikta,Vinezade,Daire,Daire,4 + 2,1. Kat,30,Merkezi (Pay ler),5,Eyal Deil,...,5.0,Doalgaz,67.500,Betonarme,kinci El,Gney,202.5,NaN,250.0,200.0
2,Bahelievler,Fevzi akmak,Daire,Daire,3 + 1,3. Kat,26,Kombi,5,Eyal Deil,...,NaN,Doalgaz,17.000,Betonarme,kinci El,NaN,NaN,NaN,150.0,130.0
3,Bykekmece,Kumburgaz,Daire,Daire,1 + 1,1. Kat,24,Kombi,5,Eyal,...,250.0,Doalgaz,15.000,Betonarme,kinci El,"Kuzey, Dou, Bat",30.0,Baylav Sitesi,90.0,80.0
4,mraniye,Mehmet Akif,Daire,Daire,3 + 1,1. Kat,19,Kombi,5,Eyal,...,1.0,Doalgaz,29.000,Betonarme,kinci El,Gney,29.0,Glas Konutlar,140.0,125.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   location1           2544 non-null   object
 1   location2           2544 non-null   object
 2   Konut Tipi          2544 non-null   object
 3   Konut ekli         2494 non-null   object
 4   Oda + Salon Says  2544 non-null   object
 5   Bulunduu Kat       2421 non-null   object
 6   Bina Ya           2544 non-null   int64
 7   Isnma Tipi         2544 non-null   object
 8   Kat Says          2544 non-null   int64
 9   Eya Durumu         2520 non-null   object
 10  Banyo Says        2544 non-null   int64
 11  Kullanm Durumu     2470 non-null   object
 12  Aidat               1723 non-null   float64
 13  Yakt Tipi          2493 non-null   object
 14  price               2397 non-null   object
 15  Yap Tipi           2300 non-null   object
 16  Yapnn Durumu      2299 non-null   object
 17  Cephe               1722 non-null   object
 18  Depozito            2133 non-null   float64
 19  Site erisinde     486 non-null    object
 20  Brt                2544 non-null   float64
 21  Net                 2544 non-null   float64
dtypes: float64(4), int64(3), object(15)
memory usage: 437.4+ KB

## Handle Floors

In [5]:
data["Kat Says"].value_counts()

Kat Says
5     917
4     558
6     315
3     196
2      98
7      73
12     72
1      49
13     48
8      48
10     48
25     48
9      24
14     24
20     24
28      1
21      1
Name: count, dtype: int64

In [6]:
print(data["Bulunduu Kat"].info())
print("\n")
print(data["Bulunduu Kat"].value_counts())

<class 'pandas.core.series.Series'>
RangeIndex: 2544 entries, 0 to 2543
Series name: Bulunduu Kat
Non-Null Count  Dtype
--------------  -----
2421 non-null   object
dtypes: object(1)
memory usage: 20.0+ KB
None


Bulunduu Kat
2. Kat          314
1. Kat          289
Ara Kat         242
4. Kat          195
3. Kat          172
Bahe Kat      169
Giri Kat      168
Yksek Giri    145
En st Kat      121
Kot 1           120
5. Kat          120
at Kat        48
6. Kat           48
Yar Bodrum      48
9. Kat           25
7. Kat           25
Kot 2            24
10. Kat          24
19. Kat          24
11. Kat          24
Bodrum           24
Zemin            24
8. Kat           24
16. Kat           1
Villa Kat        1
Kot 3             1
Teras Kat        1
Name: count, dtype: int64

In [7]:
data["Bulunduu Kat"].fillna(0, inplace=True)

data["Bulunduu Kat"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2544 entries, 0 to 2543
Series name: Bulunduu Kat
Non-Null Count  Dtype
--------------  -----
2544 non-null   object
dtypes: object(1)
memory usage: 20.0+ KB

/tmp/ipykernel_1179/2661563764.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Bulunduu Kat"].fillna(0, inplace=True)

In [8]:
data["Bulunduu Kat"] = data["Bulunduu Kat"].replace(["Ara Kat", "Bahe Kat", "Yksek Giri", "Giri Kat", "Kot 1", "Yar Bodrum", "Kot 2", "Bodrum", "Villa Kat", "Teras Kat", "at Kat", "Kot 3", "Zemin"],
                            ["2", "0", "0", "0", "-1", "-1", "-2", "-1", "0", "En st Kat", "En st Kat", "-3", "0"])

In [9]:
data["Bulunduu Kat"].value_counts()

Bulunduu Kat
0             507
2. Kat        314
1. Kat        289
2             242
4. Kat        195
-1            192
3. Kat        172
En st Kat    170
0             123
5. Kat        120
6. Kat         48
7. Kat         25
9. Kat         25
8. Kat         24
11. Kat        24
-2             24
19. Kat        24
10. Kat        24
16. Kat         1
-3              1
Name: count, dtype: int64

In [10]:
data["Kat Says"].value_counts()

Kat Says
5     917
4     558
6     315
3     196
2      98
7      73
12     72
1      49
13     48
8      48
10     48
25     48
9      24
14     24
20     24
28      1
21      1
Name: count, dtype: int64

In [11]:
data["bulundugu_kat"] = np.where(data["Bulunduu Kat"] == "En st Kat", data["Kat Says"], data["Bulunduu Kat"])  # Set En ust kat to kat sayisi
data["bulundugu_kat"].value_counts()

bulundugu_kat
0          507
2. Kat     314
1. Kat     289
2          242
4. Kat     195
-1         192
3. Kat     172
0          123
5. Kat     120
5           72
4           49
6. Kat      48
7. Kat      25
9. Kat      25
8. Kat      24
3           24
11. Kat     24
7           24
-2          24
19. Kat     24
10. Kat     24
16. Kat      1
2            1
-3           1
Name: count, dtype: int64

In [12]:
data["bulundugu_kat"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2544 entries, 0 to 2543
Series name: bulundugu_kat
Non-Null Count  Dtype
--------------  -----
2544 non-null   object
dtypes: object(1)
memory usage: 20.0+ KB

In [13]:
import re

re.findall(r'-?\d+', data["bulundugu_kat"][1])

['1']

In [14]:
import re

def handle_floor(info):
    print(info)
    number_list = re.findall(r'^\D*(\d+)',info)
    if number_list == []:
        return 0
    return number_list[0]


data["bulundugu_kat"] = data["bulundugu_kat"].apply(lambda x: int(re.findall(r'-?\d+',str(x))[0]))
data["bulundugu_kat"].value_counts()

bulundugu_kat
 0     630
 2     557
 1     289
 4     244
 3     196
-1     192
 5     192
 7      49
 6      48
 9      25
 8      24
 11     24
-2      24
 19     24
 10     24
 16      1
-3       1
Name: count, dtype: int64

In [15]:
data.drop(["Bulunduu Kat"], axis=1, inplace=True)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   location1           2544 non-null   object
 1   location2           2544 non-null   object
 2   Konut Tipi          2544 non-null   object
 3   Konut ekli         2494 non-null   object
 4   Oda + Salon Says  2544 non-null   object
 5   Bina Ya           2544 non-null   int64
 6   Isnma Tipi         2544 non-null   object
 7   Kat Says          2544 non-null   int64
 8   Eya Durumu         2520 non-null   object
 9   Banyo Says        2544 non-null   int64
 10  Kullanm Durumu     2470 non-null   object
 11  Aidat               1723 non-null   float64
 12  Yakt Tipi          2493 non-null   object
 13  price               2397 non-null   object
 14  Yap Tipi           2300 non-null   object
 15  Yapnn Durumu      2299 non-null   object
 16  Cephe               1722 non-null   object
 17  Depozito            2133 non-null   float64
 18  Site erisinde     486 non-null    object
 19  Brt                2544 non-null   float64
 20  Net                 2544 non-null   float64
 21  bulundugu_kat       2544 non-null   int64
dtypes: float64(4), int64(4), object(14)
memory usage: 437.4+ KB

In [17]:
pd.set_option("display.max_columns", None)
data

,location1,location2,Konut Tipi,Konut ekli,Oda + Salon Says,Bina Ya,Isnma Tipi,Kat Says,Eya Durumu,Banyo Says,Kullanm Durumu,Aidat,Yakt Tipi,price,Yap Tipi,Yapnn Durumu,Cephe,Depozito,Site erisinde,Brt,Net,bulundugu_kat
0,Saryer,Tarabya,Daire,Daire,4 + 1,20,Kombi,2,Eyal Deil,3,Bo,11.0,Doalgaz,95.000,NaN,NaN,NaN,NaN,NaN,270.0,240.0,2
1,Beikta,Vinezade,Daire,Daire,4 + 2,30,Merkezi (Pay ler),5,Eyal Deil,2,Bo,5.0,Doalgaz,67.500,Betonarme,kinci El,Gney,202.5,NaN,250.0,200.0,1
2,Bahelievler,Fevzi akmak,Daire,Daire,3 + 1,26,Kombi,5,Eyal Deil,1,Bo,NaN,Doalgaz,17.000,Betonarme,kinci El,NaN,NaN,NaN,150.0,130.0,3
3,Bykekmece,Kumburgaz,Daire,Daire,1 + 1,24,Kombi,5,Eyal,1,Bo,250.0,Doalgaz,15.000,Betonarme,kinci El,"Kuzey, Dou, Bat",30.0,Baylav Sitesi,90.0,80.0,1
4,mraniye,Mehmet Akif,Daire,Daire,3 + 1,19,Kombi,5,Eyal,2,Mlk Sahibi,1.0,Doalgaz,29.000,Betonarme,kinci El,Gney,29.0,Glas Konutlar,140.0,125.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,Beyolu,ukur,Daire,Daire,1 + 1,30,Soba,3,Eyal Deil,1,Bo,NaN,Elektrik,3.000,Betonarme,kinci El,NaN,3.0,NaN,35.0,30.0,1
2540,Bakrky,Kartaltepe,Daire,Daire,3 + 1,35,Kombi,4,Eyal Deil,1,Mlk Sahibi,NaN,Doalgaz,22.000,Betonarme,kinci El,Gney,30.0,NaN,120.0,110.0,2
2541,Esenyurt,Ardl,Daire,Daire,3 + 1,6,Kombi,6,NaN,2,NaN,NaN,Doalgaz,14.500,NaN,NaN,NaN,NaN,NaN,145.0,135.0,-2
2542,Esenyurt,Pnar,Daire,Daire,1 + 1,5,Merkezi,25,Eyal,1,Bo,1.3,Elektrik,9.900,Betonarme,kinci El,Gney,30.0,Ak Towers,65.0,60.0,19
2543,Kadky,Suadiye,Daire,Dubleks,5 + 1,0,Yerden Istma,10,Eyal Deil,3,Bo,3.0,Doalgaz,85.000,Betonarme,Sfr,Gney,85.0,NaN,300.0,245.0,10

## Handle isinma tipi

In [18]:
data["Isnma Tipi"].value_counts()

Isnma Tipi
Kombi                  1942
Merkezi (Pay ler)     169
Merkezi                 169
Yerden Istma            96
Klima                    48
Jeotermal Istma         24
Doalgaz Sobas          24
Kat Kaloriferi           24
Istma Yok               24
Soba                     24
Name: count, dtype: int64

In [19]:
isinma_tipi = pd.get_dummies(data=data["Isnma Tipi"], prefix="isinma_tipi", dtype=int)
data.drop(["Isnma Tipi"], axis=1, inplace=True)
data = data.join(isinma_tipi)

In [20]:
data

,location1,location2,Konut Tipi,Konut ekli,Oda + Salon Says,Bina Ya,Kat Says,Eya Durumu,Banyo Says,Kullanm Durumu,Aidat,Yakt Tipi,price,Yap Tipi,Yapnn Durumu,Cephe,Depozito,Site erisinde,Brt,Net,bulundugu_kat,isinma_tipi_Doalgaz Sobas,isinma_tipi_Istma Yok,isinma_tipi_Jeotermal Istma,isinma_tipi_Kat Kaloriferi,isinma_tipi_Klima,isinma_tipi_Kombi,isinma_tipi_Merkezi,isinma_tipi_Merkezi (Pay ler),isinma_tipi_Soba,isinma_tipi_Yerden Istma
0,Saryer,Tarabya,Daire,Daire,4 + 1,20,2,Eyal Deil,3,Bo,11.0,Doalgaz,95.000,NaN,NaN,NaN,NaN,NaN,270.0,240.0,2,0,0,0,0,0,1,0,0,0,0
1,Beikta,Vinezade,Daire,Daire,4 + 2,30,5,Eyal Deil,2,Bo,5.0,Doalgaz,67.500,Betonarme,kinci El,Gney,202.5,NaN,250.0,200.0,1,0,0,0,0,0,0,0,1,0,0
2,Bahelievler,Fevzi akmak,Daire,Daire,3 + 1,26,5,Eyal Deil,1,Bo,NaN,Doalgaz,17.000,Betonarme,kinci El,NaN,NaN,NaN,150.0,130.0,3,0,0,0,0,0,1,0,0,0,0
3,Bykekmece,Kumburgaz,Daire,Daire,1 + 1,24,5,Eyal,1,Bo,250.0,Doalgaz,15.000,Betonarme,kinci El,"Kuzey, Dou, Bat",30.0,Baylav Sitesi,90.0,80.0,1,0,0,0,0,0,1,0,0,0,0
4,mraniye,Mehmet Akif,Daire,Daire,3 + 1,19,5,Eyal,2,Mlk Sahibi,1.0,Doalgaz,29.000,Betonarme,kinci El,Gney,29.0,Glas Konutlar,140.0,125.0,1,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,Beyolu,ukur,Daire,Daire,1 + 1,30,3,Eyal Deil,1,Bo,NaN,Elektrik,3.000,Betonarme,kinci El,NaN,3.0,NaN,35.0,30.0,1,0,0,0,0,0,0,0,0,1,0
2540,Bakrky,Kartaltepe,Daire,Daire,3 + 1,35,4,Eyal Deil,1,Mlk Sahibi,NaN,Doalgaz,22.000,Betonarme,kinci El,Gney,30.0,NaN,120.0,110.0,2,0,0,0,0,0,1,0,0,0,0
2541,Esenyurt,Ardl,Daire,Daire,3 + 1,6,6,NaN,2,NaN,NaN,Doalgaz,14.500,NaN,NaN,NaN,NaN,NaN,145.0,135.0,-2,0,0,0,0,0,1,0,0,0,0
2542,Esenyurt,Pnar,Daire,Daire,1 + 1,5,25,Eyal,1,Bo,1.3,Elektrik,9.900,Betonarme,kinci El,Gney,30.0,Ak Towers,65.0,60.0,19,0,0,0,0,0,0,1,0,0,0
2543,Kadky,Suadiye,Daire,Dubleks,5 + 1,0,10,Eyal Deil,3,Bo,3.0,Doalgaz,85.000,Betonarme,Sfr,Gney,85.0,NaN,300.0,245.0,10,0,0,0,0,0,0,0,0,0,1

## Handle Esya Durumu

In [21]:
data["Eya Durumu"].value_counts()

Eya Durumu
Eyal Deil    1721
Eyal           799
Name: count, dtype: int64

In [22]:
data["Eya Durumu"].fillna(value="Eyal Deil", inplace=True)

/tmp/ipykernel_1179/1010271054.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Eya Durumu"].fillna(value="Eyal Deil", inplace=True)

In [23]:
data["Eya Durumu"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2544 entries, 0 to 2543
Series name: Eya Durumu
Non-Null Count  Dtype
--------------  -----
2544 non-null   object
dtypes: object(1)
memory usage: 20.0+ KB

In [24]:
data["Eya Durumu"].replace(["Eyal Deil", "Eyal"], [0, 1], inplace=True)
data["Eya Durumu"]

/tmp/ipykernel_1179/2247393437.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["Eya Durumu"].replace(["Eyal Deil", "Eyal"], [0, 1], inplace=True)

0       0
1       0
2       0
3       1
4       1
       ..
2539    0
2540    0
2541    0
2542    1
2543    0
Name: Eya Durumu, Length: 2544, dtype: int64

## Handle kullanim durumu

In [25]:
data["Kullanm Durumu"].value_counts()

Kullanm Durumu
Bo              2057
Mlk Sahibi       292
Kiracl           97
Belirtilmemi      24
Name: count, dtype: int64

In [26]:
data["Kullanm Durumu"].replace(["Belirtilmemi"], ["Bo"], inplace = True)

/tmp/ipykernel_1179/46982541.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Kullanm Durumu"].replace(["Belirtilmemi"], ["Bo"], inplace = True)

In [27]:
data["Kullanm Durumu"].fillna("Bo", inplace=True)
data["Kullanm Durumu"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2544 entries, 0 to 2543
Series name: Kullanm Durumu
Non-Null Count  Dtype
--------------  -----
2544 non-null   object
dtypes: object(1)
memory usage: 20.0+ KB

In [28]:
kullanim_durumu = pd.get_dummies(data=data["Kullanm Durumu"], prefix="kullanim_durumu", dtype=int)
data.drop(["Kullanm Durumu"], axis=1, inplace=True)
data = data.join(kullanim_durumu)

In [29]:
data

,location1,location2,Konut Tipi,Konut ekli,Oda + Salon Says,Bina Ya,Kat Says,Eya Durumu,Banyo Says,Aidat,Yakt Tipi,price,Yap Tipi,Yapnn Durumu,Cephe,Depozito,Site erisinde,Brt,Net,bulundugu_kat,isinma_tipi_Doalgaz Sobas,isinma_tipi_Istma Yok,isinma_tipi_Jeotermal Istma,isinma_tipi_Kat Kaloriferi,isinma_tipi_Klima,isinma_tipi_Kombi,isinma_tipi_Merkezi,isinma_tipi_Merkezi (Pay ler),isinma_tipi_Soba,isinma_tipi_Yerden Istma,kullanim_durumu_Bo,kullanim_durumu_Kiracl,kullanim_durumu_Mlk Sahibi
0,Saryer,Tarabya,Daire,Daire,4 + 1,20,2,0,3,11.0,Doalgaz,95.000,NaN,NaN,NaN,NaN,NaN,270.0,240.0,2,0,0,0,0,0,1,0,0,0,0,1,0,0
1,Beikta,Vinezade,Daire,Daire,4 + 2,30,5,0,2,5.0,Doalgaz,67.500,Betonarme,kinci El,Gney,202.5,NaN,250.0,200.0,1,0,0,0,0,0,0,0,1,0,0,1,0,0
2,Bahelievler,Fevzi akmak,Daire,Daire,3 + 1,26,5,0,1,NaN,Doalgaz,17.000,Betonarme,kinci El,NaN,NaN,NaN,150.0,130.0,3,0,0,0,0,0,1,0,0,0,0,1,0,0
3,Bykekmece,Kumburgaz,Daire,Daire,1 + 1,24,5,1,1,250.0,Doalgaz,15.000,Betonarme,kinci El,"Kuzey, Dou, Bat",30.0,Baylav Sitesi,90.0,80.0,1,0,0,0,0,0,1,0,0,0,0,1,0,0
4,mraniye,Mehmet Akif,Daire,Daire,3 + 1,19,5,1,2,1.0,Doalgaz,29.000,Betonarme,kinci El,Gney,29.0,Glas Konutlar,140.0,125.0,1,0,0,0,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,Beyolu,ukur,Daire,Daire,1 + 1,30,3,0,1,NaN,Elektrik,3.000,Betonarme,kinci El,NaN,3.0,NaN,35.0,30.0,1,0,0,0,0,0,0,0,0,1,0,1,0,0
2540,Bakrky,Kartaltepe,Daire,Daire,3 + 1,35,4,0,1,NaN,Doalgaz,22.000,Betonarme,kinci El,Gney,30.0,NaN,120.0,110.0,2,0,0,0,0,0,1,0,0,0,0,0,0,1
2541,Esenyurt,Ardl,Daire,Daire,3 + 1,6,6,0,2,NaN,Doalgaz,14.500,NaN,NaN,NaN,NaN,NaN,145.0,135.0,-2,0,0,0,0,0,1,0,0,0,0,1,0,0
2542,Esenyurt,Pnar,Daire,Daire,1 + 1,5,25,1,1,1.3,Elektrik,9.900,Betonarme,kinci El,Gney,30.0,Ak Towers,65.0,60.0,19,0,0,0,0,0,0,1,0,0,0,1,0,0
2543,Kadky,Suadiye,Daire,Dubleks,5 + 1,0,10,0,3,3.0,Doalgaz,85.000,Betonarme,Sfr,Gney,85.0,NaN,300.0,245.0,10,0,0,0,0,0,0,0,0,0,1,1,0,0

## Handle Aidat

In [30]:
data["Aidat"].value_counts()

Aidat
100.00    266
250.00    168
1.00      121
300.00    121
150.00    121
50.00      99
200.00     97
500.00     72
1.80       49
5.00       48
70.00      48
3.00       48
120.00     48
4.10       25
350.00     25
140.00     24
290.00     24
1.65       24
600.00     24
2.20       24
1.30       24
750.00     24
110.00     24
1.85       24
430.00     24
75.00      24
4.00       24
1.15       24
400.00     24
1.95       24
950.00      1
125.00      1
700.00      1
11.00       1
60.00       1
25.00       1
280.00      1
Name: count, dtype: int64

In [31]:
data["Aidat"].fillna(0.0, inplace=True)
data["Aidat"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2544 entries, 0 to 2543
Series name: Aidat
Non-Null Count  Dtype
--------------  -----
2544 non-null   float64
dtypes: float64(1)
memory usage: 20.0 KB

/tmp/ipykernel_1179/775868452.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Aidat"].fillna(0.0, inplace=True)

## Handle Yakit tipi

In [32]:
data["Yakt Tipi"].value_counts()

Yakt Tipi
Doalgaz      2202
Elektrik       120
20.000 TL       49
Kmr-Odun      25
13.500 TL       24
14.000 TL       24
60.000 TL       24
30.000 TL       24
245.000 TL       1
Name: count, dtype: int64

In [33]:
data["is_naturalGas"] = data["Yakt Tipi"].apply(lambda x: 1 if x == "Doalgaz" else 0)
data["is_naturalGas"]

0       1
1       1
2       1
3       1
4       1
       ..
2539    0
2540    1
2541    1
2542    0
2543    1
Name: is_naturalGas, Length: 2544, dtype: int64

In [34]:
data["is_naturalGas"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2544 entries, 0 to 2543
Series name: is_naturalGas
Non-Null Count  Dtype
--------------  -----
2544 non-null   int64
dtypes: int64(1)
memory usage: 20.0 KB

In [35]:
data.drop(["Yakt Tipi"], axis=1, inplace=True)

In [36]:
data

,location1,location2,Konut Tipi,Konut ekli,Oda + Salon Says,Bina Ya,Kat Says,Eya Durumu,Banyo Says,Aidat,price,Yap Tipi,Yapnn Durumu,Cephe,Depozito,Site erisinde,Brt,Net,bulundugu_kat,isinma_tipi_Doalgaz Sobas,isinma_tipi_Istma Yok,isinma_tipi_Jeotermal Istma,isinma_tipi_Kat Kaloriferi,isinma_tipi_Klima,isinma_tipi_Kombi,isinma_tipi_Merkezi,isinma_tipi_Merkezi (Pay ler),isinma_tipi_Soba,isinma_tipi_Yerden Istma,kullanim_durumu_Bo,kullanim_durumu_Kiracl,kullanim_durumu_Mlk Sahibi,is_naturalGas
0,Saryer,Tarabya,Daire,Daire,4 + 1,20,2,0,3,11.0,95.000,NaN,NaN,NaN,NaN,NaN,270.0,240.0,2,0,0,0,0,0,1,0,0,0,0,1,0,0,1
1,Beikta,Vinezade,Daire,Daire,4 + 2,30,5,0,2,5.0,67.500,Betonarme,kinci El,Gney,202.5,NaN,250.0,200.0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1
2,Bahelievler,Fevzi akmak,Daire,Daire,3 + 1,26,5,0,1,0.0,17.000,Betonarme,kinci El,NaN,NaN,NaN,150.0,130.0,3,0,0,0,0,0,1,0,0,0,0,1,0,0,1
3,Bykekmece,Kumburgaz,Daire,Daire,1 + 1,24,5,1,1,250.0,15.000,Betonarme,kinci El,"Kuzey, Dou, Bat",30.0,Baylav Sitesi,90.0,80.0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1
4,mraniye,Mehmet Akif,Daire,Daire,3 + 1,19,5,1,2,1.0,29.000,Betonarme,kinci El,Gney,29.0,Glas Konutlar,140.0,125.0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,Beyolu,ukur,Daire,Daire,1 + 1,30,3,0,1,0.0,3.000,Betonarme,kinci El,NaN,3.0,NaN,35.0,30.0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0
2540,Bakrky,Kartaltepe,Daire,Daire,3 + 1,35,4,0,1,0.0,22.000,Betonarme,kinci El,Gney,30.0,NaN,120.0,110.0,2,0,0,0,0,0,1,0,0,0,0,0,0,1,1
2541,Esenyurt,Ardl,Daire,Daire,3 + 1,6,6,0,2,0.0,14.500,NaN,NaN,NaN,NaN,NaN,145.0,135.0,-2,0,0,0,0,0,1,0,0,0,0,1,0,0,1
2542,Esenyurt,Pnar,Daire,Daire,1 + 1,5,25,1,1,1.3,9.900,Betonarme,kinci El,Gney,30.0,Ak Towers,65.0,60.0,19,0,0,0,0,0,0,1,0,0,0,1,0,0,0
2543,Kadky,Suadiye,Daire,Dubleks,5 + 1,0,10,0,3,3.0,85.000,Betonarme,Sfr,Gney,85.0,NaN,300.0,245.0,10,0,0,0,0,0,0,0,0,0,1,1,0,0,1

## Handle Price

In [37]:
data["price"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2544 entries, 0 to 2543
Series name: price
Non-Null Count  Dtype
--------------  -----
2397 non-null   object
dtypes: object(1)
memory usage: 20.0+ KB

In [38]:
data.dropna(subset=["price"], inplace=True)

In [39]:
data["price"].value_counts()

price
22.000       146
15.000       144
17.000       120
18.000       120
20.000        97
14.000        97
17.500        96
16.000        96
25.000        74
12.000        73
30.000        73
10.000        72
35.000        48
16.500        48
50.000        48
45.000        48
33.000        48
7.500         48
13.000        26
23.000        25
22.999        25
13.500        25
12.500        25
29.000        25
27.500        25
9.000         25
12.750        25
115.000       24
23.500        24
40.000        24
28.000        24
9.500         24
9.900         24
19.000        24
14.500        24
3.000         24
150.000       24
1.000         24
18.500        24
27.000        24
3.100.000     24
22.500        24
21.500        24
26.000        24
60.000        24
17.750        24
67.500        24
15.900        24
36.000        24
4.000         24
10.500        24
70.000        24
33.500        24
15.500        24
85.000        24
90.000         1
95.000         1
12.800         1
Name: count, dtype: int64

In [40]:
data["price"] = data["price"].apply(lambda x: x.replace(".", ""))

In [41]:
data["price"] = pd.to_numeric(data["price"])
data["price"]

0       95000
1       67500
2       17000
3       15000
4       29000
        ...
2539     3000
2540    22000
2541    14500
2542     9900
2543    85000
Name: price, Length: 2397, dtype: int64

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2397 entries, 0 to 2543
Data columns (total 33 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   location1                        2397 non-null   object
 1   location2                        2397 non-null   object
 2   Konut Tipi                       2397 non-null   object
 3   Konut ekli                      2348 non-null   object
 4   Oda + Salon Says               2397 non-null   object
 5   Bina Ya                        2397 non-null   int64
 6   Kat Says                       2397 non-null   int64
 7   Eya Durumu                      2397 non-null   int64
 8   Banyo Says                     2397 non-null   int64
 9   Aidat                            2397 non-null   float64
 10  price                            2397 non-null   int64
 11  Yap Tipi                        2178 non-null   object
 12  Yapnn Durumu                   2153 non-null   object
 13  Cephe                            1599 non-null   object
 14  Depozito                         1986 non-null   float64
 15  Site erisinde                  437 non-null    object
 16  Brt                             2397 non-null   float64
 17  Net                              2397 non-null   float64
 18  bulundugu_kat                    2397 non-null   int64
 19  isinma_tipi_Doalgaz Sobas      2397 non-null   int64
 20  isinma_tipi_Istma Yok           2397 non-null   int64
 21  isinma_tipi_Jeotermal Istma     2397 non-null   int64
 22  isinma_tipi_Kat Kaloriferi       2397 non-null   int64
 23  isinma_tipi_Klima                2397 non-null   int64
 24  isinma_tipi_Kombi                2397 non-null   int64
 25  isinma_tipi_Merkezi              2397 non-null   int64
 26  isinma_tipi_Merkezi (Pay ler)  2397 non-null   int64
 27  isinma_tipi_Soba                 2397 non-null   int64
 28  isinma_tipi_Yerden Istma        2397 non-null   int64
 29  kullanim_durumu_Bo              2397 non-null   int64
 30  kullanim_durumu_Kiracl         2397 non-null   int64
 31  kullanim_durumu_Mlk Sahibi      2397 non-null   int64
 32  is_naturalGas                    2397 non-null   int64
dtypes: float64(4), int64(20), object(9)
memory usage: 636.7+ KB

## Handle Yapi tipi

In [43]:
data["Yap Tipi"].value_counts()

Yap Tipi
Betonarme    2082
Ta Bina       24
elik          24
Kagir          24
Yma          24
Name: count, dtype: int64

In [44]:
data["is_betonarme"] = data["Yap Tipi"].replace(["Betonarme", "Ta Bina", "elik", "Kagir", "Yma", np.nan], [1, 0, 0, 0, 0, 1])
data.drop(["Yap Tipi"], axis=1, inplace=True)
data["is_betonarme"].info()

<class 'pandas.core.series.Series'>
Index: 2397 entries, 0 to 2543
Series name: is_betonarme
Non-Null Count  Dtype
--------------  -----
2397 non-null   float64
dtypes: float64(1)
memory usage: 37.5 KB

/tmp/ipykernel_1179/751992892.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["is_betonarme"] = data["Yap Tipi"].replace(["Betonarme", "Ta Bina", "elik", "Kagir", "Yma", np.nan], [1, 0, 0, 0, 0, 1])

In [45]:
data["is_betonarme"]

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
2539    1.0
2540    1.0
2541    1.0
2542    1.0
2543    1.0
Name: is_betonarme, Length: 2397, dtype: float64

## Handle Yapinin Durumu

In [46]:
data["Yapnn Durumu"].value_counts()

Yapnn Durumu
kinci El    1717
Sfr         436
Name: count, dtype: int64

In [47]:
data["is_new"] = data["Yapnn Durumu"].replace(["Sfr", "kinci El", np.nan], [1, 0, 0])
data.drop("Yapnn Durumu", axis=1, inplace=True)

/tmp/ipykernel_1179/2611025715.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["is_new"] = data["Yapnn Durumu"].replace(["Sfr", "kinci El", np.nan], [1, 0, 0])

In [48]:
data["is_new"].value_counts()

is_new
0.0    1961
1.0     436
Name: count, dtype: int64

## Handle Cephe

In [49]:
data["Cephe"].value_counts()

Cephe
Gney                       630
Kuzey, Gney                169
Dou                        147
Kuzey, Gney, Dou, Bat     98
Kuzey, Dou                  73
Bat                         73
Kuzey, Dou, Bat            72
Kuzey, Gney, Dou           72
Dou, Bat                   72
Gney, Bat                  72
Gney, Dou                  72
Kuzey, Gney, Bat           48
Gney, Dou, Bat             1
Name: count, dtype: int64

In [50]:
data["Cephe"].info()

<class 'pandas.core.series.Series'>
Index: 2397 entries, 0 to 2543
Series name: Cephe
Non-Null Count  Dtype
--------------  -----
1599 non-null   object
dtypes: object(1)
memory usage: 37.5+ KB

In [51]:
data["Cephe"].fillna(" ", inplace=True)

/tmp/ipykernel_1179/85542935.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Cephe"].fillna(" ", inplace=True)

In [52]:
data["is_guneyCephe"] = data["Cephe"].apply(lambda x: 1 if "Gney" in x else 0)
data.drop(["Cephe"], axis=1, inplace=True)
data["is_guneyCephe"].value_counts()

is_guneyCephe
0    1235
1    1162
Name: count, dtype: int64

## Handle depozito

In [53]:
data["Depozito"].info()

<class 'pandas.core.series.Series'>
Index: 2397 entries, 0 to 2543
Series name: Depozito
Non-Null Count  Dtype
--------------  -----
1986 non-null   float64
dtypes: float64(1)
memory usage: 37.5 KB

In [54]:
data["Depozito"].fillna(0, inplace=True)
data["Depozito"].info()

<class 'pandas.core.series.Series'>
Index: 2397 entries, 0 to 2543
Series name: Depozito
Non-Null Count  Dtype
--------------  -----
2397 non-null   float64
dtypes: float64(1)
memory usage: 37.5 KB

/tmp/ipykernel_1179/2444506801.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Depozito"].fillna(0, inplace=True)

## Handle site icerisinde

In [55]:
data["Site erisinde"].value_counts()

Site erisinde
Evet (Site Ad Belirtilmemi)                                          73
Baylav Sitesi                                                          24
Erdem Sitesi (stanbul, Kadky, Acbadem)                             24
Ak Towers                                                              24
Megakent Acar Konaklar                                                24
Yeilpark Evleri                                                       24
Metrolife Sancaktepe Sitesi (stanbul, Sancaktepe, Abdurrahmangazi)    24
Kulvar Residence                                                       24
Glas Konutlar                                                        24
Antrium Residence                                                      24
Mozaik Park Evleri Sitesi                                              24
yldz park evleri                                                     24
Kipta Silivri 3. Etap 3. Blge                                        24
Orion Park                                                             24
mranl Bloklar                                                       24
Aaolu ekmeky Park                                                  24
dl stanbul                                                           1
Newista Residence                                                       1
yldz park                                                             1
zg Sitesi (stanbul, atalca, akl)                                  1
Name: count, dtype: int64

In [56]:
data["Site erisinde"].info()

<class 'pandas.core.series.Series'>
Index: 2397 entries, 0 to 2543
Series name: Site erisinde
Non-Null Count  Dtype
--------------  -----
437 non-null    object
dtypes: object(1)
memory usage: 37.5+ KB

In [57]:
data["Site erisinde"].fillna("0", inplace=True)
data["Site erisinde"].value_counts()

/tmp/ipykernel_1179/3954392179.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Site erisinde"].fillna("0", inplace=True)

Site erisinde
0                                                                      1960
Evet (Site Ad Belirtilmemi)                                            73
Baylav Sitesi                                                            24
Ak Towers                                                                24
Megakent Acar Konaklar                                                  24
Yeilpark Evleri                                                         24
Metrolife Sancaktepe Sitesi (stanbul, Sancaktepe, Abdurrahmangazi)      24
Kulvar Residence                                                         24
Antrium Residence                                                        24
Erdem Sitesi (stanbul, Kadky, Acbadem)                               24
Mozaik Park Evleri Sitesi                                                24
yldz park evleri                                                       24
Kipta Silivri 3. Etap 3. Blge                                          24
Orion Park                                                               24
mranl Bloklar                                                         24
Aaolu ekmeky Park                                                    24
Glas Konutlar                                                          24
dl stanbul                                                             1
Newista Residence                                                         1
yldz park                                                               1
zg Sitesi (stanbul, atalca, akl)                                    1
Name: count, dtype: int64

In [58]:
data["Site erisinde"] = data["Site erisinde"].apply(lambda x: 1 if x != 0 else 0)
data["Site erisinde"].value_counts()

Site erisinde
1    2397
Name: count, dtype: int64

In [59]:
data

,location1,location2,Konut Tipi,Konut ekli,Oda + Salon Says,Bina Ya,Kat Says,Eya Durumu,Banyo Says,Aidat,price,Depozito,Site erisinde,Brt,Net,bulundugu_kat,isinma_tipi_Doalgaz Sobas,isinma_tipi_Istma Yok,isinma_tipi_Jeotermal Istma,isinma_tipi_Kat Kaloriferi,isinma_tipi_Klima,isinma_tipi_Kombi,isinma_tipi_Merkezi,isinma_tipi_Merkezi (Pay ler),isinma_tipi_Soba,isinma_tipi_Yerden Istma,kullanim_durumu_Bo,kullanim_durumu_Kiracl,kullanim_durumu_Mlk Sahibi,is_naturalGas,is_betonarme,is_new,is_guneyCephe
0,Saryer,Tarabya,Daire,Daire,4 + 1,20,2,0,3,11.0,95000,0.0,1,270.0,240.0,2,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0
1,Beikta,Vinezade,Daire,Daire,4 + 2,30,5,0,2,5.0,67500,202.5,1,250.0,200.0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,1.0,0.0,1
2,Bahelievler,Fevzi akmak,Daire,Daire,3 + 1,26,5,0,1,0.0,17000,0.0,1,150.0,130.0,3,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0
3,Bykekmece,Kumburgaz,Daire,Daire,1 + 1,24,5,1,1,250.0,15000,30.0,1,90.0,80.0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0
4,mraniye,Mehmet Akif,Daire,Daire,3 + 1,19,5,1,2,1.0,29000,29.0,1,140.0,125.0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,Beyolu,ukur,Daire,Daire,1 + 1,30,3,0,1,0.0,3000,3.0,1,35.0,30.0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1.0,0.0,0
2540,Bakrky,Kartaltepe,Daire,Daire,3 + 1,35,4,0,1,0.0,22000,30.0,1,120.0,110.0,2,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1.0,0.0,1
2541,Esenyurt,Ardl,Daire,Daire,3 + 1,6,6,0,2,0.0,14500,0.0,1,145.0,135.0,-2,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0
2542,Esenyurt,Pnar,Daire,Daire,1 + 1,5,25,1,1,1.3,9900,30.0,1,65.0,60.0,19,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1.0,0.0,1
2543,Kadky,Suadiye,Daire,Dubleks,5 + 1,0,10,0,3,3.0,85000,85.0,1,300.0,245.0,10,0,0,0,0,0,0,0,0,0,1,1,0,0,1,1.0,1.0,1

## Handle Oda+Salon Sayisi

In [60]:
data["Oda + Salon Says"].value_counts()

Oda + Salon Says
2 + 1    1187
3 + 1     629
1 + 1     363
1 + 0      72
4 + 1      49
5 + 1      48
4 + 2      24
3 + 2      24
5 + 2       1
Name: count, dtype: int64

In [61]:
re.findall(r'\d+', data["Oda + Salon Says"][1])

['4', '2']

In [62]:
data["oda_sayisi"] = data["Oda + Salon Says"].apply(lambda x: int(re.findall(r'\d+', x)[0]))
data["salon_sayisi"] = data["Oda + Salon Says"].apply(lambda x: int(re.findall(r'\d+', x)[1]))

In [63]:
data.drop(["Oda + Salon Says"], axis=1, inplace=True)

In [64]:
data

,location1,location2,Konut Tipi,Konut ekli,Bina Ya,Kat Says,Eya Durumu,Banyo Says,Aidat,price,Depozito,Site erisinde,Brt,Net,bulundugu_kat,isinma_tipi_Doalgaz Sobas,isinma_tipi_Istma Yok,isinma_tipi_Jeotermal Istma,isinma_tipi_Kat Kaloriferi,isinma_tipi_Klima,isinma_tipi_Kombi,isinma_tipi_Merkezi,isinma_tipi_Merkezi (Pay ler),isinma_tipi_Soba,isinma_tipi_Yerden Istma,kullanim_durumu_Bo,kullanim_durumu_Kiracl,kullanim_durumu_Mlk Sahibi,is_naturalGas,is_betonarme,is_new,is_guneyCephe,oda_sayisi,salon_sayisi
0,Saryer,Tarabya,Daire,Daire,20,2,0,3,11.0,95000,0.0,1,270.0,240.0,2,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0,4,1
1,Beikta,Vinezade,Daire,Daire,30,5,0,2,5.0,67500,202.5,1,250.0,200.0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,1.0,0.0,1,4,2
2,Bahelievler,Fevzi akmak,Daire,Daire,26,5,0,1,0.0,17000,0.0,1,150.0,130.0,3,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0,3,1
3,Bykekmece,Kumburgaz,Daire,Daire,24,5,1,1,250.0,15000,30.0,1,90.0,80.0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0,1,1
4,mraniye,Mehmet Akif,Daire,Daire,19,5,1,2,1.0,29000,29.0,1,140.0,125.0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1.0,0.0,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,Beyolu,ukur,Daire,Daire,30,3,0,1,0.0,3000,3.0,1,35.0,30.0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1.0,0.0,0,1,1
2540,Bakrky,Kartaltepe,Daire,Daire,35,4,0,1,0.0,22000,30.0,1,120.0,110.0,2,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1.0,0.0,1,3,1
2541,Esenyurt,Ardl,Daire,Daire,6,6,0,2,0.0,14500,0.0,1,145.0,135.0,-2,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0,3,1
2542,Esenyurt,Pnar,Daire,Daire,5,25,1,1,1.3,9900,30.0,1,65.0,60.0,19,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1.0,0.0,1,1,1
2543,Kadky,Suadiye,Daire,Dubleks,0,10,0,3,3.0,85000,85.0,1,300.0,245.0,10,0,0,0,0,0,0,0,0,0,1,1,0,0,1,1.0,1.0,1,5,1

## Handle konut tipi

In [65]:
data["Konut Tipi"].value_counts()

Konut Tipi
Daire    2397
Name: count, dtype: int64

In [66]:
data.drop(["Konut Tipi"], axis=1, inplace=True)
data

,location1,location2,Konut ekli,Bina Ya,Kat Says,Eya Durumu,Banyo Says,Aidat,price,Depozito,Site erisinde,Brt,Net,bulundugu_kat,isinma_tipi_Doalgaz Sobas,isinma_tipi_Istma Yok,isinma_tipi_Jeotermal Istma,isinma_tipi_Kat Kaloriferi,isinma_tipi_Klima,isinma_tipi_Kombi,isinma_tipi_Merkezi,isinma_tipi_Merkezi (Pay ler),isinma_tipi_Soba,isinma_tipi_Yerden Istma,kullanim_durumu_Bo,kullanim_durumu_Kiracl,kullanim_durumu_Mlk Sahibi,is_naturalGas,is_betonarme,is_new,is_guneyCephe,oda_sayisi,salon_sayisi
0,Saryer,Tarabya,Daire,20,2,0,3,11.0,95000,0.0,1,270.0,240.0,2,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0,4,1
1,Beikta,Vinezade,Daire,30,5,0,2,5.0,67500,202.5,1,250.0,200.0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,1.0,0.0,1,4,2
2,Bahelievler,Fevzi akmak,Daire,26,5,0,1,0.0,17000,0.0,1,150.0,130.0,3,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0,3,1
3,Bykekmece,Kumburgaz,Daire,24,5,1,1,250.0,15000,30.0,1,90.0,80.0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0,1,1
4,mraniye,Mehmet Akif,Daire,19,5,1,2,1.0,29000,29.0,1,140.0,125.0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1.0,0.0,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,Beyolu,ukur,Daire,30,3,0,1,0.0,3000,3.0,1,35.0,30.0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1.0,0.0,0,1,1
2540,Bakrky,Kartaltepe,Daire,35,4,0,1,0.0,22000,30.0,1,120.0,110.0,2,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1.0,0.0,1,3,1
2541,Esenyurt,Ardl,Daire,6,6,0,2,0.0,14500,0.0,1,145.0,135.0,-2,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0,3,1
2542,Esenyurt,Pnar,Daire,5,25,1,1,1.3,9900,30.0,1,65.0,60.0,19,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1.0,0.0,1,1,1
2543,Kadky,Suadiye,Dubleks,0,10,0,3,3.0,85000,85.0,1,300.0,245.0,10,0,0,0,0,0,0,0,0,0,1,1,0,0,1,1.0,1.0,1,5,1

## Handle Konut Sekli

In [67]:
data["Konut ekli"].value_counts()

Konut ekli
Daire              1938
Bahe Kat          217
Dubleks              96
Ara Kat Dubleks      48
Bahe Dubleksi       48
Tripleks              1
Name: count, dtype: int64

In [68]:
konut_sekli = pd.get_dummies(data=data["Konut ekli"], prefix="konutSekli", dtype=int)
data.drop(["Konut ekli"], axis=1, inplace=True)
data.join(konut_sekli)

,location1,location2,Bina Ya,Kat Says,Eya Durumu,Banyo Says,Aidat,price,Depozito,Site erisinde,Brt,Net,bulundugu_kat,isinma_tipi_Doalgaz Sobas,isinma_tipi_Istma Yok,isinma_tipi_Jeotermal Istma,isinma_tipi_Kat Kaloriferi,isinma_tipi_Klima,isinma_tipi_Kombi,isinma_tipi_Merkezi,isinma_tipi_Merkezi (Pay ler),isinma_tipi_Soba,isinma_tipi_Yerden Istma,kullanim_durumu_Bo,kullanim_durumu_Kiracl,kullanim_durumu_Mlk Sahibi,is_naturalGas,is_betonarme,is_new,is_guneyCephe,oda_sayisi,salon_sayisi,konutSekli_Ara Kat Dubleks,konutSekli_Bahe Dubleksi,konutSekli_Bahe Kat,konutSekli_Daire,konutSekli_Dubleks,konutSekli_Tripleks
0,Saryer,Tarabya,20,2,0,3,11.0,95000,0.0,1,270.0,240.0,2,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0,4,1,0,0,0,1,0,0
1,Beikta,Vinezade,30,5,0,2,5.0,67500,202.5,1,250.0,200.0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,1.0,0.0,1,4,2,0,0,0,1,0,0
2,Bahelievler,Fevzi akmak,26,5,0,1,0.0,17000,0.0,1,150.0,130.0,3,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0,3,1,0,0,0,1,0,0
3,Bykekmece,Kumburgaz,24,5,1,1,250.0,15000,30.0,1,90.0,80.0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0,1,1,0,0,0,1,0,0
4,mraniye,Mehmet Akif,19,5,1,2,1.0,29000,29.0,1,140.0,125.0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1.0,0.0,1,3,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,Beyolu,ukur,30,3,0,1,0.0,3000,3.0,1,35.0,30.0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1.0,0.0,0,1,1,0,0,0,1,0,0
2540,Bakrky,Kartaltepe,35,4,0,1,0.0,22000,30.0,1,120.0,110.0,2,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1.0,0.0,1,3,1,0,0,0,1,0,0
2541,Esenyurt,Ardl,6,6,0,2,0.0,14500,0.0,1,145.0,135.0,-2,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0,3,1,0,0,0,1,0,0
2542,Esenyurt,Pnar,5,25,1,1,1.3,9900,30.0,1,65.0,60.0,19,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1.0,0.0,1,1,1,0,0,0,1,0,0
2543,Kadky,Suadiye,0,10,0,3,3.0,85000,85.0,1,300.0,245.0,10,0,0,0,0,0,0,0,0,0,1,1,0,0,1,1.0,1.0,1,5,1,0,0,0,0,1,0

## Handle location1

In [69]:
data["location1"].value_counts()

location1
Esenyurt         292
Bahelievler     242
Kathane        193
Kadky          144
Eypsultan       121
Avclar          121
mraniye         120
Beikta         120
ili             98
skdar           74
Ataehir          74
Bakrky          72
Kartal            72
Beyolu           50
Gngren          49
Saryer           49
Fatih             48
Bayrampaa        48
ekmeky          48
Gaziosmanpaa     48
Sancaktepe        48
Pendik            48
Maltepe           48
Esenler           25
Adalar            24
Silivri           24
Arnavutky        24
Kkekmece      24
Sultanbeyli       24
Bykekmece      24
atalca            1
Name: count, dtype: int64

In [70]:
location1 = pd.get_dummies(data["location1"], prefix="location1", dtype=int)
data.drop(["location1"], axis=1, inplace=True)
data.join(location1)

,location2,Bina Ya,Kat Says,Eya Durumu,Banyo Says,Aidat,price,Depozito,Site erisinde,Brt,Net,bulundugu_kat,isinma_tipi_Doalgaz Sobas,isinma_tipi_Istma Yok,isinma_tipi_Jeotermal Istma,isinma_tipi_Kat Kaloriferi,isinma_tipi_Klima,isinma_tipi_Kombi,isinma_tipi_Merkezi,isinma_tipi_Merkezi (Pay ler),isinma_tipi_Soba,isinma_tipi_Yerden Istma,kullanim_durumu_Bo,kullanim_durumu_Kiracl,kullanim_durumu_Mlk Sahibi,is_naturalGas,is_betonarme,is_new,is_guneyCephe,oda_sayisi,salon_sayisi,location1_Adalar,location1_Arnavutky,location1_Ataehir,location1_Avclar,location1_Bahelievler,location1_Bakrky,location1_Bayrampaa,location1_Beyolu,location1_Beikta,location1_Bykekmece,location1_Esenler,location1_Esenyurt,location1_Eypsultan,location1_Fatih,location1_Gaziosmanpaa,location1_Gngren,location1_Kadky,location1_Kartal,location1_Kathane,location1_Kkekmece,location1_Maltepe,location1_Pendik,location1_Sancaktepe,location1_Saryer,location1_Silivri,location1_Sultanbeyli,location1_atalca,location1_ekmeky,location1_mraniye,location1_skdar,location1_ili
0,Tarabya,20,2,0,3,11.0,95000,0.0,1,270.0,240.0,2,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,Vinezade,30,5,0,2,5.0,67500,202.5,1,250.0,200.0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,1.0,0.0,1,4,2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Fevzi akmak,26,5,0,1,0.0,17000,0.0,1,150.0,130.0,3,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0,3,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Kumburgaz,24,5,1,1,250.0,15000,30.0,1,90.0,80.0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Mehmet Akif,19,5,1,2,1.0,29000,29.0,1,140.0,125.0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1.0,0.0,1,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,ukur,30,3,0,1,0.0,3000,3.0,1,35.0,30.0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1.0,0.0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2540,Kartaltepe,35,4,0,1,0.0,22000,30.0,1,120.0,110.0,2,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1.0,0.0,1,3,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2541,Ardl,6,6,0,2,0.0,14500,0.0,1,145.0,135.0,-2,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0,3,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2542,Pnar,5,25,1,1,1.3,9900,30.0,1,65.0,60.0,19,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1.0,0.0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2543,Suadiye,0,10,0,3,3.0,85000,85.0,1,300.0,245.0,10,0,0,0,0,0,0,0,0,0,1,1,0,0,1,1.0,1.0,1,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## Handle location2

In [71]:
data["location2"].value_counts()

location2
nn                97
Mehmet Akif Ersoy    72
Merkez               72
Mecidiye             72
Hrriyet             49
                     ..
Cihangir              1
Kalyoncu Kulluu      1
Siyavupaa           1
Gkevler              1
Sultantepe            1
Name: count, Length: 90, dtype: int64

Including location2 column to training data will possibly result in an overfitting situation. Therefore, we decided to not include it.

In [72]:
data.drop(["location2"], axis=1, inplace=True)

In [73]:
data

,Bina Ya,Kat Says,Eya Durumu,Banyo Says,Aidat,price,Depozito,Site erisinde,Brt,Net,bulundugu_kat,isinma_tipi_Doalgaz Sobas,isinma_tipi_Istma Yok,isinma_tipi_Jeotermal Istma,isinma_tipi_Kat Kaloriferi,isinma_tipi_Klima,isinma_tipi_Kombi,isinma_tipi_Merkezi,isinma_tipi_Merkezi (Pay ler),isinma_tipi_Soba,isinma_tipi_Yerden Istma,kullanim_durumu_Bo,kullanim_durumu_Kiracl,kullanim_durumu_Mlk Sahibi,is_naturalGas,is_betonarme,is_new,is_guneyCephe,oda_sayisi,salon_sayisi
0,20,2,0,3,11.0,95000,0.0,1,270.0,240.0,2,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0,4,1
1,30,5,0,2,5.0,67500,202.5,1,250.0,200.0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,1.0,0.0,1,4,2
2,26,5,0,1,0.0,17000,0.0,1,150.0,130.0,3,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0,3,1
3,24,5,1,1,250.0,15000,30.0,1,90.0,80.0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0,1,1
4,19,5,1,2,1.0,29000,29.0,1,140.0,125.0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1.0,0.0,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,30,3,0,1,0.0,3000,3.0,1,35.0,30.0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1.0,0.0,0,1,1
2540,35,4,0,1,0.0,22000,30.0,1,120.0,110.0,2,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1.0,0.0,1,3,1
2541,6,6,0,2,0.0,14500,0.0,1,145.0,135.0,-2,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1.0,0.0,0,3,1
2542,5,25,1,1,1.3,9900,30.0,1,65.0,60.0,19,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1.0,0.0,1,1,1
2543,0,10,0,3,3.0,85000,85.0,1,300.0,245.0,10,0,0,0,0,0,0,0,0,0,1,1,0,0,1,1.0,1.0,1,5,1

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2397 entries, 0 to 2543
Data columns (total 30 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Bina Ya                        2397 non-null   int64
 1   Kat Says                       2397 non-null   int64
 2   Eya Durumu                      2397 non-null   int64
 3   Banyo Says                     2397 non-null   int64
 4   Aidat                            2397 non-null   float64
 5   price                            2397 non-null   int64
 6   Depozito                         2397 non-null   float64
 7   Site erisinde                  2397 non-null   int64
 8   Brt                             2397 non-null   float64
 9   Net                              2397 non-null   float64
 10  bulundugu_kat                    2397 non-null   int64
 11  isinma_tipi_Doalgaz Sobas      2397 non-null   int64
 12  isinma_tipi_Istma Yok           2397 non-null   int64
 13  isinma_tipi_Jeotermal Istma     2397 non-null   int64
 14  isinma_tipi_Kat Kaloriferi       2397 non-null   int64
 15  isinma_tipi_Klima                2397 non-null   int64
 16  isinma_tipi_Kombi                2397 non-null   int64
 17  isinma_tipi_Merkezi              2397 non-null   int64
 18  isinma_tipi_Merkezi (Pay ler)  2397 non-null   int64
 19  isinma_tipi_Soba                 2397 non-null   int64
 20  isinma_tipi_Yerden Istma        2397 non-null   int64
 21  kullanim_durumu_Bo              2397 non-null   int64
 22  kullanim_durumu_Kiracl         2397 non-null   int64
 23  kullanim_durumu_Mlk Sahibi      2397 non-null   int64
 24  is_naturalGas                    2397 non-null   int64
 25  is_betonarme                     2397 non-null   float64
 26  is_new                           2397 non-null   float64
 27  is_guneyCephe                    2397 non-null   int64
 28  oda_sayisi                       2397 non-null   int64
 29  salon_sayisi                     2397 non-null   int64
dtypes: float64(6), int64(24)
memory usage: 645.1 KB

In [76]:
data.reset_index(drop=True, inplace=True)
data.to_csv("data_to_train.csv", encoding="utf-8")

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data_to_train.csv", index_col=0)
df

,Bina Ya,Kat Says,Eya Durumu,Banyo Says,Aidat,price,Depozito,Site erisinde,Brt,Net,...,isinma_tipi_Yerden Istma,kullanim_durumu_Bo,kullanim_durumu_Kiracl,kullanim_durumu_Mlk Sahibi,is_naturalGas,is_betonarme,is_new,is_guneyCephe,oda_sayisi,salon_sayisi
0,20,2,0,3,11.0,95000,0.0,1,270.0,240.0,...,0,1,0,0,1,1.0,0.0,0,4,1
1,30,5,0,2,5.0,67500,202.5,1,250.0,200.0,...,0,1,0,0,1,1.0,0.0,1,4,2
2,26,5,0,1,0.0,17000,0.0,1,150.0,130.0,...,0,1,0,0,1,1.0,0.0,0,3,1
3,24,5,1,1,250.0,15000,30.0,1,90.0,80.0,...,0,1,0,0,1,1.0,0.0,0,1,1
4,19,5,1,2,1.0,29000,29.0,1,140.0,125.0,...,0,0,0,1,1,1.0,0.0,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2392,30,3,0,1,0.0,3000,3.0,1,35.0,30.0,...,0,1,0,0,0,1.0,0.0,0,1,1
2393,35,4,0,1,0.0,22000,30.0,1,120.0,110.0,...,0,0,0,1,1,1.0,0.0,1,3,1
2394,6,6,0,2,0.0,14500,0.0,1,145.0,135.0,...,0,1,0,0,1,1.0,0.0,0,3,1
2395,5,25,1,1,1.3,9900,30.0,1,65.0,60.0,...,0,1,0,0,0,1.0,0.0,1,1,1
2396,0,10,0,3,3.0,85000,85.0,1,300.0,245.0,...,1,1,0,0,1,1.0,1.0,1,5,1

In [4]:
y_df = df["price"]
x_df = df.drop(["price"], axis=1)

In [5]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_scaled = scaler.fit_transform(x_df)
x_scaled

array([[ 0.1918566 , -1.06329237, -0.67350445, ..., -0.9699952 ,
         2.11423927,  0.0427462 ],
       [ 0.987222  , -0.19243412, -0.67350445, ...,  1.03093294,
         2.11423927,  4.49764405],
       [ 0.66907584, -0.19243412, -0.67350445, ..., -0.9699952 ,
         0.93099586,  0.0427462 ],
       ...,
       [-0.92165495,  0.09785196, -0.67350445, ..., -0.9699952 ,
         0.93099586,  0.0427462 ],
       [-1.00119149,  5.61328756,  1.48477118, ...,  1.03093294,
        -1.43549096,  0.0427462 ],
       [-1.39887419,  1.2589963 , -0.67350445, ...,  1.03093294,
         3.29748267,  0.0427462 ]])

In [9]:
from sklearn.model_selection import train_test_split

X, y = x_scaled, y_df.to_numpy()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [15]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

#Linear Regression
dtr = DecisionTreeRegressor()



dtr.fit(X_train, y_train)
y_pred = dtr.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
rmse = np.sqrt(mse)

print(f'Mean Absolute Error of Linear Regression on test set: {mae:.2f}')
print(f'Mean Squared Error of Linear Regression on test set: {mse:.2f}')
print(f'R-squared Error of Linear Regression on test set: {r2:.6f}')
print(f'Root Mean Squared Error of Linear Regression on test set: {rmse:.2f}')

Mean Absolute Error of Linear Regression on test set: 31.19
Mean Squared Error of Linear Regression on test set: 204659.09
R-squared Error of Linear Regression on test set: 0.999997
Root Mean Squared Error of Linear Regression on test set: 452.39

1. Mean Absolute Error (MAE): 0.5332

    An MAE of 0.5332 means that, on average, the models predictions are approximately $0.5332 away from the true house prices.

2. Mean Squared Error (MSE): 0.5559

    An MSE of 0.5559 means that, on average, the squared prediction errors are approximately 0.5559.

3. R-squared (R): 0.5758

    An R of 0.5758 indicates that the model can explain approximately 57.58% of the variance in house prices.

4. Root Mean Squared Error (RMSE): 0.7456

    An RMSE of 0.7456 indicates that, on average, the models predictions have an error of approximately $0.7456 in the same units as the house prices.

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

#Linear Regression
lr = LinearRegression()



lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
rmse = np.sqrt(mse)

print(f'Mean Absolute Error of Linear Regression on test set: {mae:.2f}')
print(f'Mean Squared Error of Linear Regression on test set: {mse:.2f}')
print(f'R-squared Error of Linear Regression on test set: {r2:.6f}')
print(f'Root Mean Squared Error of Linear Regression on test set: {rmse:.2f}')

Mean Absolute Error of Linear Regression on test set: 132806.52
Mean Squared Error of Linear Regression on test set: 57657933748.69
R-squared Error of Linear Regression on test set: 0.194353
Root Mean Squared Error of Linear Regression on test set: 240120.66

In [19]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

#Linear Regression
rfr = RandomForestRegressor()



rfr.fit(X_train, y_train)
y_pred = rfr.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
rmse = np.sqrt(mse)

print(f'Mean Absolute Error of Linear Regression on test set: {mae:.2f}')
print(f'Mean Squared Error of Linear Regression on test set: {mse:.2f}')
print(f'R-squared Error of Linear Regression on test set: {r2:.6f}')
print(f'Root Mean Squared Error of Linear Regression on test set: {rmse:.2f}')

Mean Absolute Error of Linear Regression on test set: 45.70
Mean Squared Error of Linear Regression on test set: 539727.11
R-squared Error of Linear Regression on test set: 0.999992
Root Mean Squared Error of Linear Regression on test set: 734.66